
/* celular P  1º com zoom 2º sem zoom*/
@media only screen and (max-device-width: 374px) and (max-device-height: 564px){

    .filme-info{
        display: flex;
        flex-direction: column;
        max-width: 242px;
        height: 424px;
        font-size: 11px;
        margin-bottom: 4%;
    }
    
    .filme-info img{
        border-radius: 50px;
    }
}
@media only screen and (max-device-width: 374px) and (min-device-height: 565px){

    .filme-info{
        display: flex;
        flex-direction: column;
        max-width: 242px;
        height: 90vh;
        font-size: 11px;
        margin-bottom: 4%;
    }
    
    .filme-info img{
        border-radius: 50px;
    }
}


/* celular M 1º com zoom 2º sem zoom */
@media only screen and (max-device-width: 767px) and (min-device-width: 375px) and (max-device-height: 564px){

    .filme-info{
        display: flex;
        flex-direction: column;
        max-width: 295px;
        height: 424px;
        font-size: 12px;
        margin-bottom: 4%;
    }
    
    .filme-info img{
        border-radius: 50px;
    }
}
@media only screen and (max-device-width: 767px) and (min-device-width: 375px) and (min-device-height: 565px){

    .filme-info{
        display: flex;
        flex-direction: column;
        max-width: 295px;
        height: 89vh;
        font-size: 12px;
    }
    
    .filme-info img{
        border-radius: 50px;
    }
}

/* tablet 1º com zoom 2º sem zoom */
@media only screen and (max-device-width: 1023px) and (min-device-width: 768px) and (max-device-height: 751px){

    .filme-info{
        display: flex;
        flex-direction: column;
        max-width: 610px;
        margin-bottom: 4%;
        font-size: 13px;
    }
    
    .filme-info img{
        border-radius: 50px;
    }
}
@media only screen and (max-device-width: 1023px) and (min-device-width: 768px) and (min-device-height: 752px){

    .filme-info{
        display: flex;
        flex-direction: column;
        max-width: 610px;
        margin-bottom: 2%;
        height: 987px;
        font-size: 13px;
    }
    
    .filme-info img{
        border-radius: 50px;
    }
}


/* Desktop 1º com zoom 2º sem zoom */
@media only screen and (min-device-width: 1024px) and (max-device-height: 751px){

    .filme-info{
        display: flex;
        flex-direction: column;
        max-width: 900px;
        padding: 20px;
        margin-bottom: 27px;
    }
    
    .filme-info img{
        border-radius: 50px;
    }
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 752px){

    .filme-info{
        display: flex;
        flex-direction: column;
        max-width: 900px;
        padding: 20px;
        height: 936px;
        margin-bottom: 27px;
    }
    
    .filme-info img{
        border-radius: 50px;
    }
}



