.erro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 81vh; 
    background-color:#131d3a;
}


.img img{
    max-height: 300px;
    width: 540px;
}