
/* celular P */
@media only screen and (max-device-width: 374px){

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background-color:#131d3a;
        border: solid 3px #fff;
        border-top: 0px;     
        border-left: 0px;
        border-right: 0px;
    }
    
    .header a{
        text-decoration: none;
        font-size: 22px;
        color: #FFF;
        cursor: pointer;
    }
}

/* celular M */
@media only screen and (max-device-width: 767px) and (min-device-width: 375px){

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background-color:#131d3a;
        border: solid 3px #fff;
        border-top: 0px;     
        border-left: 0px;
        border-right: 0px;
    }
    
    .header a{
        text-decoration: none;
        font-size: 25px;
        color: #FFF;
        cursor: pointer;
    }
}

/* tablet */
@media only screen and (max-device-width: 1023px) and (min-device-width: 768px){

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background-color:#131d3a;
        border: solid 3px #fff;
        border-top: 0px;     
        border-left: 0px;
        border-right: 0px;
    }
    
    .header a{
        text-decoration: none;
        font-size: 30px;
        color: #FFF;
        cursor: pointer;
    }
}

/* Desktop */
@media only screen and (min-device-width: 1024px){

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background-color:#131d3a;
        border: solid 3px #fff;
        border-top: 0px;     
        border-left: 0px;
        border-right: 0px;
    }
    
    .header a{
        text-decoration: none;
        font-size: 30px;
        color: #FFF;
        cursor: pointer;
    }
}
